{% extends "sub-layout.html" %} {% block heading %}
<div class="page-header">
  <h3 class="page-title">Change password credential</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Change password
      </li>
    </ol>
  </nav>
</div>
{% endblock %} {% block content %}
<div id="loading" class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change password</h4>
        <div id="change-success-message" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="change-error-message" class="alert alert-danger" role="alert" style="display:none;"></div>
        <form class="forms-sample">
          <div class="form-group">
            <label for="password">Old password</label>
            <input
              type="password"
              class="form-control"
              name="oldPassword"
              placeholder="Old password"
            />
            <small id="oldPasswordError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="password">New password</label>
            <input
              type="password"
              class="form-control"
              name="newPassword"
              placeholder="New password"
            />
            <small id="newPasswordError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm new password</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              placeholder="Repeat password"
            />
            <small id="confirmPasswordError" class="text-danger"></small>
          </div>
          <button id="change-password" type="submit" class="btn btn-primary mr-2"> Submit </button>
          <div id="change-loading" class="spinner-border text-primary" role="status" style="display:none;">
            <span class="sr-only">Loading...</span>
          </div>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div id="role-access" class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change user role</h4>
        <div id="role-success-message" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="role-error-message" class="alert alert-danger" role="alert" style="display:none;"></div>
        <form class="forms-sample">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="role-email"
              placeholder="Email address of the user to change role"
            />
            <small id="roleEmailError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label>Assign role</label>
            <select id="new-role" class="js-example-basic-single" style="width: 100%">
              <option value="">Please assign new role</option>
              {% for role in roles %}
              <option value="{{ role }}">{{ role | capitalize }}</option>
              {% endfor %}
            </select>
            <small id="newRoleError" class="text-danger"></small>
          </div>
          <button id="change-role" type="submit" class="btn btn-primary mr-2"> Submit </button>
          <div id="role-loading" class="spinner-border text-primary" role="status" style="display:none;">
            <span class="sr-only">Loading...</span>
          </div>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block footer %}
<footer class="footer" style="padding-top: 20%">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
      >Copyright © 2024</span
    >
  </div>
</footer>
{% endblock %}
