{% extends "sub-layout.html" %} 

{% block heading %}
<div class="page-header">
  <h3 class="page-title">Edit supplier</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Supplier </li>
    </ol>
  </nav> </div
>{% endblock %} 

{% block content %}
<div id="loading" class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit supplier</h4>
        <div id="edit-supplier-success-message" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="edit-supplier-error-message" class="alert alert-danger" role="alert" style="display:none;"></div>
        <form class="forms-sample">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              name="edit-supplier-firstname"
              placeholder="Firstname"
            />
            <small id="edit-supplierFirstnameError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="middlename">Middlename</label>
            <input
              type="text"
              class="form-control"
              id="middlename"
              name="edit-supplier-middlename"
              placeholder="Middlename"
            />
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="edit-supplier-lastname"
              placeholder="Lastname"
            />
            <small id="edit-supplierLastnameError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              name="edit-supplier-phoneNumber"
              placeholder="Phone number"
            />
            <small id="edit-supplierPhoneNumberError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="edit-supplier-email"
              placeholder="Email address"
            />
            <small id="edit-supplierEmailError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea
              type="text"
              class="form-control"
              id="address"
              name="edit-supplier-address"
              placeholder="Address"
              rows="5"
            ></textarea>
            <small id="edit-supplierAddressError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="address2">Address 2</label>
            <textarea
              type="text"
              class="form-control"
              id="address2"
              name="edit-supplier-address2"
              placeholder="Address 2"
              rows="5"
            ></textarea>
          </div>
          <button id="edit-supplier" type="submit" class="btn btn-primary mr-2"> Update </button>
          <div
            id="supplier-loading"
            class="spinner-border text-primary"
            role="status"
            style="display: none"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
      >Copyright © {{year}}</span
    >
  </div>
</footer>
{% endblock %}