{% extends "sub-layout.html" %} 

{% block heading %}
<div class="page-header">
  <h3 class="page-title">Product</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Product </li>
    </ol>
  </nav>
</div>
{% endblock %} 

{% block content %}
<div id="loading" class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit product</h4>
        <div id="edit-product-success-message" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="edit-product-error-message" class="alert alert-danger" role="alert" style="display:none;"></div>
        <form class="forms-sample">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="edit-product-name"
              placeholder="Name"
            />
            <small id="edit-productNameError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="unitPrice">Unit price</label>
            <input
              type="number"
              class="form-control"
              id="unitPrice"
              name="edit-product-unitPrice"
              placeholder="Unit price"
            />
            <small id="edit-productUnitPriceError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="edit-product-quantity"
              placeholder="Quantity"
            />
            <small id="edit-productQuantityError" class="text-danger"></small>
          </div>
          <div class="form-group">
            <label for="expire">Expire</label>
            <input
              type="date"
              class="form-control"
              id="expire"
              name="edit-product-expire"
              placeholder="Expire date"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="description"
              name="edit-product-description"
              placeholder="Product description"
              rows="8"
            ></textarea>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
              <select id="edit-product-category" class="form-control">
                <option value="">Please choose product category</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category | capitalize }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button id="edit-product" type="submit" class="btn btn-primary mr-2"> Update </button>
          <div
            id="product-loading"
            class="spinner-border text-primary"
            role="status"
            style="display: none"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
      >Copyright © {{year}}</span
    >
  </div>
</footer>
{% endblock %}