<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Hidaya Pharm | Dashboard</title>
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/css/vendor.bundle.base.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/select2/select2.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css"
    />
    <link rel="stylesheet" href="stylesheets/assets/css/style.css" />
    <link href="stylesheets/DataTables/datatables.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="text-center sidebar-brand-wrapper d-flex align-items-center"
        >
          <a class="sidebar-brand brand-logo" href="dashboard.html"
            ><img src="stylesheets/assets/images/logo.svg" alt="logo"
          /></a>
          <a
            class="sidebar-brand brand-logo-mini pl-4 pt-3"
            href="dashboard.html"
            ><img src="stylesheets/assets/images/logo-mini.svg" alt="logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img
                  src="images/favicon.png"
                  alt="profile"
                />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span id="user-name" class="font-weight-medium mb-2"></span>
                <span id="user-role" class="font-weight-normal text-primary"></span>
              </div>
            </a>
          </li>
          <li id="dashboard-link" class="nav-item">
            <a class="nav-link" href="dashboard">
              <i class="mdi mdi-view-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#ui-profile"
              aria-expanded="false"
              aria-controls="ui-profile"
            >
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">Account</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-profile">
              <ul class="nav flex-column">
                <li id="users-link" class="nav-item">
                  <a class="nav-link" href="users">
                    <i class="mdi mdi-view-list"></i>&nbsp;&nbsp;
                    <span class="menu-title">Users</span>
                  </a>
                </li>
                <li id="create-link" class="nav-item">
                  <a class="nav-link" href="user">
                    <i class="mdi mdi-account-plus"></i>&nbsp;&nbsp;
                    <span class="menu-title">Create account</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="edit">
                    <i class="mdi mdi-pencil"></i>&nbsp;&nbsp;
                    <span class="menu-title">Edit account</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="change-password">
                    <i class="mdi mdi-lock"></i>&nbsp;&nbsp;
                    <span class="menu-title">Change password</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="procurement-link" class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#ui-product"
              aria-expanded="false"
              aria-controls="ui-product"
            >
              <i class="mdi mdi-archive menu-icon"></i>
              <span class="menu-title">Procurement</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-product">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="suppliers">
                    <i class="mdi mdi-view-list"></i>&nbsp;&nbsp;
                    <span class="menu-title">Suppliers</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="products">
                    <i class="mdi mdi-view-list"></i>&nbsp;&nbsp;
                    <span class="menu-title">Products</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="locations">
                    <i class="mdi mdi-view-list"></i>&nbsp;&nbsp;
                    <span class="menu-title">Locations</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="supplier">
                    <i class="mdi mdi-account-plus"></i>&nbsp;&nbsp;
                    <span class="menu-title">Add supplier</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="location">
                    <i class="mdi mdi-map"></i>&nbsp;&nbsp;
                    <span class="menu-title">Add location</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#ui-order"
              aria-expanded="false"
              aria-controls="ui-order"
            >
              <i class="mdi mdi-cart menu-icon"></i>
              <span class="menu-title">Place order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-order">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="customers">
                    <i class="mdi mdi-view-list"></i>&nbsp;&nbsp;
                    <span class="menu-title">Customers</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="customer">
                    <i class="mdi mdi-account-plus"></i>&nbsp;&nbsp;
                    <span class="menu-title">Add customer</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="transactions-link" class="nav-item">
            <a class="nav-link" href="transactions">
              <i class="mdi mdi-wallet menu-icon"></i>
              <span class="menu-title">Transaction</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
            <!-- <div class="collapse" id="ui-tx">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="orders">
                    <i class="mdi mdi-cart-plus"></i>&nbsp;&nbsp;
                    <span class="menu-title">Orders</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="transactions">
                    <i class="mdi mdi-wallet-plus"></i>&nbsp;&nbsp;
                    <span class="menu-title">Transactions</span>
                  </a>
                </li>
              </ul>
            </div> -->
          </li>
          <li id="audit-link" class="nav-item">
            <span class="nav-link" href="#">
              <span class="menu-title">Audits</span>
            </span>
          </li>
          <li id="audit-logs" class="nav-item">
            <a class="nav-link" href="audits">
              <i class="mdi mdi-file-document-box menu-icon"></i>
              <span class="menu-title">Audit logs</span>
            </a>
          </li>
          <li class="nav-item sidebar-actions">
            <div class="nav-link">
              <div class="mt-4">
                <ul class="mt-4 pl-0">
                  <li id="_logout">Sign Out</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>
            Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div
            class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between"
          >
            <a
              class="navbar-brand brand-logo-mini align-self-center d-lg-none"
              href="/"
              ><img src="stylesheets/assets/images/logo-mini.svg" alt="logo"
            /></a>
            <button
              class="navbar-toggler navbar-toggler align-self-center mr-2"
              type="button"
              data-toggle="minimize"
            >
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li
                class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex"
              >
                <form class="nav-link form-inline mt-2 mt-md-0">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item nav-profile dropdown border-0">
                <a
                  class="nav-link dropdown-toggle"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <img
                    class="nav-profile-img mr-2"
                    alt="logo"
                    src="images/favicon.png"
                  />
                  <span class="profile-name"></span>
                </a>
                <div
                  class="dropdown-menu navbar-dropdown w-100"
                  aria-labelledby="profileDropdown"
                >
                  <a id="activity" class="dropdown-item" href="/audits">
                    <i class="mdi mdi-cached mr-2 text-success"></i> Activity
                    Log
                  </a>
                  <a id="logout" class="dropdown-item" href="#">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout
                  </a>
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          {% block main %}{% endblock %} {% block footer %}{% endblock %}
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="stylesheets/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="stylesheets/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="stylesheets/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="stylesheets/assets/vendors/flot/jquery.flot.pie.js"></script>
    <script src="stylesheets/assets/vendors/select2/select2.min.js"></script>
    <script src="stylesheets/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="stylesheets/assets/js/file-upload.js"></script>
    <script src="stylesheets/assets/js/typeahead.js"></script>
    <script src="stylesheets/assets/js/select2.js"></script>
    <script src="javascripts/DataTables/datatables.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="stylesheets/assets/js/off-canvas.js"></script>
    <script src="stylesheets/assets/js/hoverable-collapse.js"></script>
    <script src="stylesheets/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="stylesheets/assets/js/dashboard.js"></script>
    <script src="stylesheets/assets/js/chart.js"></script>
    <script src="javascripts/processing.js"></script>
    <!-- End custom js for this page -->
    <script type="module">
      import { jwtDecode } from 'public/javascripts/jwt-decode/index.js';
      const token = JSON.parse(localStorage.getItem('token'));
      const decoded = jwtDecode(token);
      if (decoded.exp < Date.now() * 1000) {
        localStorage.removeItem('user');
        localStorage.removeItem('token');
        localStorage.removeItem('email');

        window.location.href = '/';
      }
    </script>
  </body>
</html>
